.spinner {
    animation-name: spin;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .spinner.slow {
    animation-duration: 3s;
  }
  
  .spinner.normal {
    animation-duration: 1.5s;
  }
  
  .spinner.fast {
    animation-duration: 0.75s;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }