#content {
  padding: 15px;
}

.products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products .chakra-box {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.products .chakra-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
